/*

.img {
	padding: 2%;
	width: 372px;	
	height: 418px;	
	background: url("../img/men.png") no-repeat;
	background-size: cover;
}
.frame {
	height: 100%;
	text-align: center;
	border: 1px solid white;
}
.frame p {
	padding-top: 50%;	
		
	text-transform: uppercase;
	line-height: 0;	
	color: white;
	font-size: 40px;	
	font-weight: 	300;
	font-style: italic;
}
<div class="img">
	<div class="frame">
		<p>men</p>
	</div>
</div>

*/
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'BebasNeue';

 */

@font-face{
	font-family: 'BebasNeue';
	src: url("../font/bebas/BebasNeue Regular.otf");
	font-weight: normal;
	font-style: normal;
	
	font-family: 'BebasNeue';
	src: url("../font/bebas/BebasNeue Book.otf");
	font-weight: bolder;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;

	color: #777;
}

.center {
	max-width: 1170px;
	margin: 0 auto;
}
.clear::after {
	content: "";
	display: table;
	clear: both;
}

.btn {
	padding: 20px 48px;

	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	line-height: 19px;
	text-transform: uppercase;

	cursor: pointer;

	transition: all .2s linear;

	color: #fff;
	background: none;
	border: 2px solid white;
}
.btn:hover {
	color: #dc0000;
	border-color: #dc0000;
}
.title {
	position: relative;
	padding-bottom: 95px;
	padding-top: 90px;

	font-size: 40px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;

	color: #333;
}
.title::before,
.title::after {
	position: absolute;
	content: "";
	display: block;
	height: 3px;
	width: 110px;
	background-color: #dc0000;
}
.title::before {
	top: 20%;
	left: 45%;
}
.title::after {
	top: 80%;
	left: 45%;
}
.title-h3 {

	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;

	color: #dc0000;
}







/*-----------HEADER-------------*/

.header {
	padding-top: 5px;
	padding-bottom: 250px;

	background: url("../img/header.png") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

.header-top {
	padding-top: 25px;
	padding-bottom: 200px;
}

.header-logo {
	float: left;
}
.logo-text {
	font-size: 48px;
	line-height: 19px;
	font-family: 'BebasNeue';
	font-weight: bolder;
	text-decoration: none;

	color: #dc0000;
}
.logo-end {
	font-size: 36px;
	font-weight: normal;
}

.nav-menu {
	float: right;

	list-style: none;
}
.menu-block {
	float: left;
	padding-right: 75px;
}
.menu-block:last-child {
	padding-right: 0;
}
.menu-link {
	font-size: 18px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;

	color: #fff;
}
.menu-link:hover {
	color: #dc0000;
}



.header-description {
	padding-bottom: 50px;

	font-size: 30px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;

	color: #fff;
}
.description-top {
	letter-spacing: 10px;	
}
.header-title {
	padding-bottom: 50px;

	font-size: 59px;
	line-height: 55px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;

	color: #fff;
}



/*-----------LATEST-PRODUCT----------*/


.latest-product {
	padding-bottom: 60px;
}

.items-left__item {
	float: left;
	padding: 2.64%;
	margin-right: 2.6%;
	width: 31.6%;	
	height: 418px;

	box-sizing: border-box;
	background-size: cover;
}
.items-left__item:hover .item__frame {
	border-color: #dc0000;
}
.items-left__item:hover .frame__title {
	color: #dc0000;
}
.items-left__item:hover {
	opacity: 0.9;
}
.items-left__item:last-child {
	margin-right: 0;
}
.item__frame {
	height: 100%;
	text-align: center;
	border: 2px solid white;
}
.frame__title {
	padding-top: 50%;	
		
	text-transform: uppercase;
	line-height: 0;	
	color: white;
	font-size: 40px;	
	font-weight: 	300;
	font-style: italic;
}
.item-1 {
	background: url("../img/men.png") no-repeat;
}
.item-2 {
	background: url("../img/woman.png") no-repeat;
}
.item-3 {
	background: url("../img/watch.png") no-repeat;
}

.latest-product__items-right {
	padding-top: 30px;
}

.item__title {
	padding-top: 22%;

	font-size: 45px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #fff;
}
.item__title::before,
.item__title::after {
	position: absolute;
	content: "";
	display: block;
	margin-left: 13%;
	height: 1px;
	width: 16.41%;
	background-color: #fff;
}
.item__title::before {
	margin-top: -10px;
}
.item__title::after {
	margin-top: 15px;
}

.items-right__item {
	float: left;
	width: 48.7%;
	margin-right: 2.56%;
	height: 420px;
}
.items-right__item:hover {
	opacity: 0.9;
}
.items-right__item:hover .item__title{
	color: #dc0000;
}
.items-right__item:hover .item__title::before,
.items-right__item:hover .item__title::after{
	background-color: #dc0000;
}
.items-right__item:last-child {
	margin-right: 0;
}
.bitem-1 {
	background: url("../img/autumn.png") no-repeat;
}
.bitem-2 {
	background: url("../img/sale.png") no-repeat;
}



/*---------TRENDING ITEMS--------------*/

.trending {
	padding-bottom: 130px;

	background: url("../img/traiding.png") no-repeat;
}

.product__img {
	float: left;
	width: 48.7%;
	margin-right: 2.56%;		
}
.product__description {
	float: left;
	width: 48.7%;

	text-align: left;
}
.description__title {
	padding-top: 2.13%;
	padding-bottom: 1.28%;
}
.description__season {
	padding-bottom: 1.7%;

	font-size: 18px;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
}
.line {
	width: 30px;
	padding-bottom: 1.7%;

	border: none;
	border-top: 1px solid #000;
}
.description__text {
	padding-bottom: 8%;

	font-size: 18px;
	line-height: 25px;
	font-family: 'Lato', sans-serif;
}
.description__btn-sm {
	padding: 0;
	margin: 0;
	width: 70px;
	max-width: 70px;
	margin-right: 30px;
	padding: 20px 0;
	margin-bottom: 30px;

	color: #333;
	border-color: #333333;
}
.description__btn-lg {
	width: 173px;
	max-width: 173px;
	padding: 20px;
	margin-right: 30px;

	color: #333;
	border-color: #333333;
}
.description__btns .btn:hover {
	color: #fff;
	background-color: #333;
	border-color: #333;
}


/*----------BLOG--------------*/


.blog {
	padding-bottom: 60px;
}
.blog__post {
	float: left;
	width: 48.7%;
	margin-right: 2.56%;

	text-align: left;
}
.blog__post:last-child {
	margin-right: 0;
}

.post__img {
	padding-bottom: 20px;
	width: 100%;
}
.post__title {
	padding-bottom: 10px;
}
.post__author {
	padding-bottom: 40px;

	font-size: 16px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
	color: #333;
}
.post__description {
	font-size: 18px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.post__line {
	padding-top: 30px;
	margin-bottom: 30px;

	border: none;
	border-bottom: 1px solid #ecf0f1;
}

.post__btn {
	color: #333;
	border-color: #333;
}




/*------------SUBSCRIBE------------*/

.subscribe {
	padding-top: 55px;
	padding-bottom: 100px;
	
	text-align: left;

	background: url("../img/footer.png") no-repeat center;
	background-size: cover;
}
.subscribe__title {
	padding-bottom: 20px;

	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

	color: #fff;
}
.subscribe__input {
	float: left;
	width: 68.37%;
	padding: 15px 60px;
	box-sizing: border-box;
	vertical-align: middle;
	

	color: #fff;
	background: url("../img/mail.png") no-repeat 3% 50%;
	border: 1px solid #fff;
}
.subscribe__btn {
	float: right;
	padding: 14px 7.264%;
	vertical-align: middle;
	color: #000;
	background-color: #fff;
	border: none;
}

.subscribe__btn:hover {
	color: #fff;
	background-color: #dc0000;
}

/*-----------FOOOOOTER-----------*/

.footer {
	padding: 70px 0;
}
.footer__title {
	font-size: 18px;
	line-height: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;

	color: #858585;
}


/*---------ADAPTIVE--------------*/

@media screen and (max-width: 984px) {

	.header {
		padding-bottom: 40px;
	}
	.header-top {
		padding-bottom: 60px;
	}
	.menu-block {
		padding-right: 40px;
	}

	.header-title {
		padding-bottom: 20px;

		font-size: 35px;
	}
	.header-description {
		padding-bottom: 25px;

		font-size: 20px;
	}

	.items-left__item {
		height: 250px;
		background-size: cover;
	}
	.frame__title {
		padding-top: 40%;

		font-size: 25px;
	}
	.items-right__item {
		height: 300px;
		background-size: cover;
	}
	.item__title {
		font-size: 25px;
	}


	.description__btn-sm {
		width: 40px;
		padding: 7px 0;
		margin-right: 10px;
		margin-bottom: 10px;
		max-width: 40px;
		font-size: 12px;
	}
	.description__btn-sm:last-child {
		font-size: 100px;
	}
	.description__btn-lg {
		width: 100px;
		padding: 10px 0;
		max-width: 100px;
		font-size: 12px;
	}
	.footer {
		padding: 20px 0;
	}
}



@media screen and (max-width: 748px) {

	.title {
		padding-top: 40px;
		padding-bottom: 40px;
		font-size: 25px;
	}
	.title::after,
	.title::before {
		left: 43%;
	}
	.latest-product,
	.trending,
	.blog {
		padding-bottom: 20px;
	}

	.header {
		padding-bottom: 25px;
	}
	.header-top {
		padding-bottom: 40px;
	}
	.menu-block {
		padding-right: 20px;
	}
	.menu-link {
		font-size: 14px;
	}

	.header-title {
		padding-bottom: 10px;

		font-size: 25px;
	}
	.header-description {
		padding-bottom: 10px;

		font-size: 14px;
	}
	.header-btn {
		padding: 10px;

		font-size: 14px;
	}


	.items-left__item {
		height: 200px;
		background-size: cover;
	}
	.frame__title {
		padding-top: 45%;

		font-size: 16px;
	}
	.items-right__item {
		height: 220px;
		background-size: cover;
	}
	.item__title {
		font-size: 20px;
	}
	

	.description__title {
		font-size: 18px;
	}
	.description__season {
		font-size: 14px;
	}
	.description__text {
		font-size: 12px;
	}

	.post__title {
		font-size: 18px;
	}
	.post__author {
		padding-bottom: 10px;

		font-size: 16px;
	}
	.post__description {
		margin-bottom: 10px;

		font-size: 14px;
	}
	.post__line {
		padding: 0;
		margin: 10px 0;
	}
	.post__btn {
		padding: 10px;

		font-size: 14px;
	}
}