<!-- About -->
<div class="about">
	<!-- Раздел -->
	<h2 class="about__us">About Us</h2>
	<!-- Основной контент -->
	<div class="about__text">
		<!-- Обёртка контента -->
		<div class="about__text__wrapper">
			<!-- Заголовок -->
			<h3 class="title--sm">We are surfers co.</h3>
			<!-- Крест -->
			<p class="title--sm">X</p>
			<!-- Описание -->
			<p class="title--nm title--it">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nihil fugit et ratione officiis dolor nulla, inventore quasi commodi labore saepe blanditiis, unde sed doloribus, optio earum corporis temporibus deserunt molestiae eveniet dolorem id nemo voluptates. Sequi dignissimos quos molestiae eius ratione fuga, officiis illum assumenda fugit! Unde, officiis, minus.</p>
			<!-- Ссылка на продолжение -->
			<a href="#" class="link">Read more</a>
		</div>
		<!-- *Обёртка контента -->
	</div>
	<!-- *Основной контент -->
	<!-- Видео -->
	<div class="about__video">
		<!-- Ссылка на видео -->
		<a href="https://www.youtube.com/watch?v=fNr8kqSLpxQ" class="about__video__link">
			<img src="img/photo-sm.png" alt="">
			<button class="video__btn">&#9658;</button>
		</a>
		<div class="about__video__modal">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/fNr8kqSLpxQ" frameborder="0" allowfullscreen></iframe>
			<div class=""><button class="modal__btn">X</button></div>	
		</div>
	</div>
	<!-- *Видео -->
</div>
<!-- *About -->