<!-- Footer -->
<footer class="footer">
	<!-- Копирайт -->
	<p class="footer__copyright">© 2017 Surfers Co. . Design by @lucaalco</p>
	<!-- Ссылки и подписка -->
	<div class="footer__right">
		<!-- Ссылки -->
		<div class="footer__right__links">
			<a href="" class="footer__right__links__item">&asymp; About</a>
			<a href="" class="footer__right__links__item">&asymp; Boards</a>
			<a href="" class="footer__right__links__item">&asymp; Accessories</a>
			<a href="" class="footer__right__links__item">&asymp; Blog</a>
			<a href="" class="footer__right__links__item">&asymp; Technology</a>
			<a href="" class="footer__right__links__item">&asymp; Team</a>
			<a href="" class="footer__right__links__item">&asymp; Dealers</a>
			<a href="" class="footer__right__links__item">&asymp; Contact us</a>
		</div>
		<!-- *Ссылки -->
		<!-- Подписка -->
		<div class="footer__subscribe">
			<!-- Заголовок -->
			<h2 class="title--sm">Subscribe to our newsletter</h2>
			<!-- Форма -->
			<form action="">
				<!-- Поле ввода -->
				<input type="text" class="footer__subscribe__input" placeholder="Your e-mail" pattern="[a-zA-Z0-9]{3,}@[a-zA-Z]{3,}.[a-zA-Z]{2,3}">
				<!-- Кнопка -->
				<button type="submit" class="footer__subscribe__btn">&rarr;</button>
			</form>
			<!-- *Форма -->
		</div>
		<!-- *Подписка -->
	</div>
	<!-- *Ссылки и подписка -->
</footer>
<!-- *Footer -->