<!-- Header  -->
<header class="header">
	<!-- Логотип и навигация -->
	<div class="header__top">
		<!-- Логотип -->
		<a href="#" class="header--logo title">Surfers Co.</a>
		<!-- Навигация -->
		<nav>
			<ul class="header__menu">
				<li class="header__menu__item"><a href="" class="header__menu__link title--nm">boards</a></li>
				<li class="header__menu__item"><a href="" class="header__menu__link title--nm">accessories</a></li>
				<li class="header__menu__item"><a href="" class="header__menu__link title--nm">blog</a></li>
				<li class="header__menu__item"><a href="" class="header__menu__link title--nm">technology</a></li>
				<li class="header__menu__item"><a href="" class="header__menu__link title--nm">team</a></li>
				<li class="header__menu__item"><a href="" class="header__menu__link title--nm">dealers</a></li>
			</ul><!-- header__menu -->
		</nav>
		<!-- *Навигация -->
		<!-- Социальные сети -->
		<div class="header__social">
			<a href="#" class="social__link"></a>
			<a href="#" class="social__link"></a>
			<a href="#" class="social__link"></a>
		</div>
		<!-- *Социальные сети -->
	</div>
	<!-- *Логотип и навигация -->

	<!-- Заголовок -->
	<div class="header__middle">
		<h1 class="title--it">Ride every wave as if it's your last</h1>
		<p class="title--sm title--it">We love the motion of the ocean</p>
	</div>
	<!-- *Заголовок -->

	<!-- Товар -->
	<div class="header__bottom">
		<!-- Раздел -->
		<h2 class="boards title">Boards</h2>
		<!-- Позиция товара -->
		<div class="header__bottom__slider">
			<!-- Кнопки товара -->
			<div class="header__bottom__slider__btns">
				<!-- Влево -->
				<button class="btn--slider" id="left">&larr;</button>
				<!-- Вправо -->
				<button class="btn--slider" id="right">&rarr;</button>
			</div>
			<!-- *Кнопки товара -->
			<!-- Страница товара -->
			<p class="slider__page">1/3</p>
		</div>
		<!-- *Позиция товара -->
		<!-- Большая картинка -->
		<div class="header__bottom__picture">
			<img src="img/board.png" alt="" class="big--picture" width="413" height="528">
		</div>
		<!-- *Большая картинка -->
		<!-- Маленькие картинки -->
		<ul class="header__bottom__images">
			<li>
				<img src="img/b-1.png" alt="" class="image--sm image--active" data-image="img/board.png">
			</li>
			<li>
				<img src="img/b-2.png" alt="" class="image--sm" data-image="img/b-2.png">
			</li>
			<li>
				<img src="img/b-3.png" alt="" class="image--sm" data-image="img/b-3.png">
			</li>
			<li>
				<img src="img/b-4.png" alt="" class="image--sm" data-image="img/b-4.png">
			</li>
		</ul>
		<!-- *Маленькие картинки -->
		<!-- Блок описания -->
		<div class="header__bottom__description">
			<!-- Название товара -->
			<h2 class="title--sm">JR Surfboards The Donny Stoker
					Yellow/Green Rail Fade</h2>
			<!-- *Название товара -->
				<!-- Табы описания -->
				<ul class="header__bottom__description__titles">
					<li class="title--nm tab--active"><a href="#tab--1">DESCRIPTION</a></li>
					<li class="title--nm"><a href="#tab--2">FEATURES</a></li>
					<li class="title--nm"><a href="#tab--3">DIMENSION</a></li>
				</ul>
				<!-- *Табы описания -->
				<!-- Описание товара -->
				<p class="tab__content title--th" id="tab--1">Easy to ride, care free surfing craft that's fun for everyone, paddles well, super fast down the line and great for any level of surfing depending on who rides it. The Donny Stoker, a rework on design from stokesys first ever pro model. A super easy to surf and fun board. The Donny Stoker is a board for total freesurfing expression.</p>
				<p class="tab__content title--th" id="tab--2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum aspernatur doloribus corporis dolores tempora sed, quas nihil quos quisquam maiores reiciendis sunt consequuntur ab, pariatur, deserunt earum totam cum aut amet at? Natus labore, porro quos deleniti! Ratione, illum, eveniet?</p>
				<p class="tab__content title--th" id="tab--3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse provident cum veniam consectetur, voluptas eius quasi dicta dolorum vitae ab vel cupiditate earum architecto voluptatibus blanditiis maxime porro dolores numquam similique iste cumque minus sit reiciendis! Perferendis nam adipisci molestiae explicabo cum, suscipit, doloribus neque..</p>
				<!-- *Описание товара -->
				<!-- Блок покупки -->
				<div class="header__bottom__description__titles__buy">
					<!-- Цена -->
					<h3 class="title price">$499.99</h3>
					<!-- Кнопка -->
					<button class="btn">BUY NOW</button>
				</div>
				<!-- *Блок покупки -->
				<!-- Ссылка магазина -->
				<a href="" class="link">View all boards</a>
				<!-- *Ссылка магазина -->
		</div>
		<!-- *Блок описания -->
	</div>
	<!-- *Товар -->
</header>
<!-- *Header  -->