<!-- Social -->
<div class="social">
	<!-- Инстаграм -->
	<div class="social__instagram">
		<!-- Раздел -->
		<h2 class="instagram">Instagram</h2>
		<!-- Картинки -->
		<img src="img/i-1.png" alt="" class="social__instagram__img">
		<img src="img/i-2.png" alt="" class="social__instagram__img">
		<img src="img/i-3.png" alt="" class="social__instagram__img">
		<img src="img/i-4.png" alt="" class="social__instagram__img">
		<!-- Обёртка ссылки -->
		<div class="social__instagram__wrapper">
			<img class="social__instagram__wrapper__img" src="img/insta.png" alt="">
			<a href="#" class="social__instagram__link"><b>Follow us</b> @surfersco</a>
		</div>
		<!-- *Обёртка ссылки -->
	</div>
	<!-- *Инстаграм -->
	<!-- Фейсбук -->
	<iframe class="social__facebook" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
	<!-- *Фейсбук -->
</div>
<!-- *Social -->