<!-- Team -->
<div class="team">
	<!-- Раздел -->
	<h2 class="our__team">Our team</h2>
	<!-- Профайл 1 -->
	<div class="team__profile">
		<!-- Обёрстка картинки -->
		<div class="wrap">
			<img src="img/c-2.png" alt="worker" class="team__profile__img">
		</div>
		<!-- Имя -->
		<h3 class="team__profile__name">Taj Burrow</h3>
		<!-- Инстаграмм -->
		<p class="title--sm title--th">@tajamos</p>
		<hr class="line">
		<!-- Город -->
		<p class="title--sm title--th">Yallingup, Australia</p>
	</div>
	<!-- *Профайл 1 -->
	<!-- Профайл 2 -->
	<div class="team__profile">
		<!-- Обёрстка картинки -->
		<div class="wrap">
			<img src="img/c-1.png" alt="worker" class="team__profile__img">
		</div>
		<!-- Имя -->
		<h3 class="team__profile__name">Malia Manuel</h3>
		<!-- Инстаграмм -->
		<p class="title--sm title--th">@maliamanuel</p>
		<hr class="line">
		<!-- Город -->
		<p class="title--sm title--th">Wailua, Hi</p>
	</div>
	<!--* Профайл 2 -->
	<!-- Профайл 3 -->
	<div class="team__profile">
		<!-- Обёрстка картинки -->
		<div class="wrap">
			<img src="img/c-3.png" alt="worker" class="team__profile__img">
		</div>
		<!-- Имя -->
		<h3 class="team__profile__name">Ian Walsh</h3>
		<!-- Инстаграмм -->
		<p class="title--sm title--th">@ian.valsh</p>
		<hr class="line">
		<!-- Город -->
		<p class="title--sm title--th">Maiu, Hi</p>
	</div>
	<!-- *Профайл 3 -->
	<!-- Профайл 4 -->
	<div class="team__profile">
		<!-- Обёрстка картинки -->
		<div class="wrap">
			<img src="img/c-4.png" alt="worker" class="team__profile__img">
		</div>
		<!-- Имя -->
		<h3 class="team__profile__name">Macy Callaghan</h3>
		<!-- Инстаграмм -->
		<p class="title--sm title--th">@macycallaghan</p>
		<hr class="line">
		<!-- Город -->
		<p class="title--sm title--th">San Clemente, CA</p>
	</div>
	<!-- *Профайл 4 -->
</div>
<!-- *Team -->