<!-- Updates -->
<div class="updates">
	<!-- Раздел -->
	<h2 class="title--sm">Latest Updates</h2>
	<p class="title--sm">X</p>
	<!-- Новости -->
	<div class="updates__news">
		<!-- 1 Новость -->
		<div class="updates__news__block">
			<img src="img/photo-1.png" alt="" class="updates__news__block--img">
			<a href="#" class="updates__news__block--text title--th">Ellie Turner and Jobe Harris have taken out the 2016 British National Surf Championships</a>
		</div>
		<!-- *1 Новость -->
		<!-- 2 Новость -->
		<div class="updates__news__block">
			<img src="img/photo-2.png" alt="" class="updates__news__block--img">
			<a href="#" class="updates__news__block--text title--th">A large group of surfers invaded the coast of La Jolla Shores, in California, with a single goal in mind</a>
		</div>
		<!-- *2 Новость -->
		<!-- 3 Новость -->
		<div class="updates__news__block">
			<img src="img/photo-3.png" alt="" class="updates__news__block--img">
			<a href="#" class="updates__news__block--text title--th">Surfboards are constantly evolving, and there are multiple board designs for a broad range of environments</a>
		</div>
		<!-- *3 Новость -->
	</div>
	<!-- *Новости -->
	<!-- Кнопка -->
	<button class="btn">View all posts</button>
</div>
<!-- *Updates -->