

/*----------------Основные настройки----------------*/

/*---------Подключение нестандартных шрифтов-----*/

@font-face {
	font-family: 'Gilda', sans-serif;
	src: url("../font/gilda/GildaDisplay-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quattrocento', sans-serif;
	src: url("../font/quattrocento/QuattrocentoSans-Regular.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quattrocento', sans-serif;
	src: url("../font/quattrocento/QuattrocentoSans-Bold.otf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Quattrocento', sans-serif;
	src: url("../font/quattrocento/QuattrocentoSans-Italic.otf");
	font-weight: normal;
	font-style: italic;
}



/*--------------Сброс стилей-------------------------*/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Quattrocento';
	font-weight: normal;
	font-style: normal;
	text-align: center;
}

a {
	margin: 0;
	padding: 0;

	text-decoration: none;

	color: #000;
}
ul {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	line-height: 0;
}

.btn {
	padding: 5px 8px;

	font-size: 10px;
	font-family: 'Quattrocento';
	text-transform: uppercase;

	border: none;
	color: #fff;
}

.title {
	padding-top: 5px;

	line-height: 23px;
	font-family: 'Rufina';
	font-size: 17px;
}

.title-sm {
	
	line-height: 23px;
	font-family: 'Rufina';
	font-size: 18px;
}
.description {
	padding-top: 13px;
	
	line-height: 18px;
	font-size: 12px;

	color: #999;
}
.date {
	padding-top: 21px;

	font-size: 10px;

	color: #999;
}
.date span {

	color: #000;	
}

.line-sm {
	display: inline-block;
	width: 40px;
	margin-top: 6px;

}


/*-----------------Стилизация-------------------------*/


.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	height: 95px;
	padding-top: 40px;
	padding-bottom: 19px;


	justify-content: space-between;
	flex-direction: column;
}

.logo__top {
	padding: 0;
	margin: 0;

	font-family: 'Gilda';
	font-size: 33px;
	line-height: 36px;
	letter-spacing: 1.2px;
	font-weight: normal;
}
.logo__bottom {
	font-size: 8px;
	line-height: 14px;
	font-weight: bold;

	color: #ccc;
}

.social__link {
	padding-right: 3px;

	font-size: 13px;
}
.social__link:hover {
	color: red;
}

.header__nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	padding-right: 50px;
	padding-left: 50px;

	justify-content: space-between;
}

.menu__list {
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	margin-left: 20%;
}
.menu__link {
	padding-right: 26px;
vertical-align: middle;
	font-size: 9px;
	text-transform: uppercase;
}
.menu__link:hover {
	color: red;
}

.search__input {
	padding-right: 20px;
	
	border: none;
	background: url("../img/search.png") no-repeat right;
}
.nav__search {
	position: relative;
}
.nav__search::after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 1px;
	height: 10px;
	right: 24px;
	top: 3px;

	background-color: #000;
}

/*---------------------Слайдер----------------*/

.slider {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 482px;

	flex-direction: column;
	justify-content: flex-end;
	align-items: center;


	background: url("../img/slider.jpg") no-repeat center/cover;
}

.slider__btn {
	margin-bottom: 7px;

	background-color: #f00;
}

.slider__btn:hover {
	color: #000;
	background-color: #fff;
}
.slider__title {
	padding-bottom: 44px;

	font-size: 35px;
	line-height: 44px;
	font-family: 'Rufina', serif;

	color: #fff;
}



/*----------Осовной контент-----------------*/


.main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	padding-bottom: 150px;

	justify-content: center;
	padding-top: 66px;

}

.main__post {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	margin-left: 10px;	
	margin-right: 64px;
}

.post__blocks {
	width: 280px;
	margin-right: 20px;
		
}

.post__block {
	padding-bottom: 60px;
}

.front__title {
	padding-top: 25px;

	line-height: 0px;
	font-family: 'Quattrocento';
	font-size: 8px;

	color: #898989;
}
.post__front {
	line-height: 0;
	padding-bottom: 5px;
}

.main__menu {
	width: 225px;
	text-align: left;
}

.main__menu__title {
	padding-top: 10px;
	padding-bottom: 2px;

	font-size: 24px;	
}
.main__menu .description {
	padding-bottom: 20px;	

	line-height: 17px;
	font-size: 10px;	
}
.follow {
	padding-right: 10px;	

	font-size: 8px;	
}
.post__follow .fa {
	font-size: 10px;	
}

.main-menu__block {
	padding-bottom: 75px;	
}
.subscribe__title {
	padding-left: 14px;
	padding-bottom: 9px;

	font-size: 12px;
}
.subscribe__form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	padding-left: 14px;
}
.subscribe__input {
	width: 55%;
	padding-left: 12px;

	font-size: 8px;
}
.subscribe__btn {
	width: 30%;
	padding: 8px 0;

	font-size: 8px;

	background-color: #000;
}
.subscribe__btn:hover {
	cursor: pointer;
	background-color: red;
}

.menu__latest {
	margin-top: -6px;
}
.line {
	margin-bottom: 3px;
}
.latest__link {
	font-size: 12px;
	line-height: 5px;
}
.latest__post .date {
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu__instagram {
	margin-top: -50px;
}
.menu__instagram .line {
	margin-bottom: 25px;
}
.instagram__images {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-wrap: wrap;
}
.instagram__img {
	width: 112px;
	height: 116px;
}

.menu__categories {
	margin-top: -38px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.categories__title {
	padding-bottom: 5px;
}
.menu__categories .line {
	margin-bottom: 20px;
}
.categories__link {
	padding-left: 5px;
	padding-bottom: 14px;

	font-size: 10px;
}
.categories__link:hover {
	color: red;
}

.menu__baner {
	margin-top: -50px;
}
.menu__tags {
	margin-top: -40px;
}
.tags__title {
	padding-bottom: 5px;
}
.menu__tags .line {
	margin-bottom: 20px;
}
.menu__tags .categories__link {
	padding-left: 0;

	font-size: 13px;
	line-height: 23px;
}


/*-----------------ИНСТАГРАМ------------------*/


.instagram__photos {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.photos__block-1,
.photos__block-2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.block-3 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.block-3-1 {
}
.block-3-2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/*
	width: 50%;
	height: 211px;
	*/
}
.instagram__title {
	padding-bottom: 25px;

	font-size: 25px;
}
.instagram__line {
	position: relative;
	display: inline-block;
	width: 334px;
	margin-bottom: 50px;
}
.instagram__line:after {
	content: "";
	display: block;
	position: absolute;
	
	top: -8px;
	left: 50%;
	margin-left: -8px;
	
	height: 15px;
	width: 15px;

	border-radius: 50%;
	background-color: #b2ae7e;
}

/*-----------------ФУТЕР-------------------*/

.footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer__left {
	padding-top: 40px;
	padding-bottom: 45px;
	width: 50%;
	
	text-align: right;
	
	background-color: #f7f7f7;
}
.footer__description {
	padding-top: 0;
	padding-right: 67px;
	line-height: 12px;

	font-size: 8px;
}


.footer__right {
	padding-top: 45px;
	padding-left: 65px;
	padding-bottom: 45px;
	width: 50%;
	box-sizing: border-box;

	text-align: left;

	background-color: #ededeb;
}

.footer__link {
	padding-right: 15px;

	font-size: 10px;
}
.footer__link:hover {
	color: red;
}