/*

font-family: 'Roboto', sans-serif;

#252e30	- header menu/footer
#4b5456 - header logo F
#2ecc71 - green text
#566366 - titles
#919191 - description
#f2f2f1 - some blocks
#575c5d - profile 1st block/footer text
#4b5456 - input footer/social icon/bottom footer text
#191f21 - footer button/bottom footer
#cccccc - lines

 */

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	font-family: 'Roboto', sans-serif;

	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

img {
	display: block;
	width: 100%;
}

.title {
	padding-bottom: 30px;

	font-size: 30px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;

	color: #566366;
}

.title-sm {
	font-size: 22px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;


	color: #566366;
}

.description {
	font-size: 18px;
	line-height: 30px;

	color: #919191;	
}

.button {
	padding: 15px 20px;
	
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;

	transition: all .3s;

	background: none;
	color: rgb(50, 200, 100);
	border: 2px solid rgb(50, 200, 100);
}
.button:hover {
	color: #fff;
	background-color: rgba(50, 200, 100, 0.5);
}

/*---------------HEADER------------------*/

.header {
	padding-top: 500px;
	background: url("../img/header.jpg") no-repeat center top;
}

/*--------------TOP HEADER----------------*/

.header__title {
	margin: 0;
	padding: 30px 0;
	margin-bottom: 70px;

	font-size: 60px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;

	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.header-button {
	padding: 15px 35px;

	color: #fff;
	border-color: #fff;
}

/*-------------BOTTOM HEADER-------------------*/

.header__menu {
	height: 70px;
	margin-top: 305px;
	padding-top: 10px;
	margin-bottom: 100px;

	background-color: #252e30;
}

.nav__logo {
	padding: 5px 15px;
	margin-right: 15px;

	font-size: 30px;
	font-weight: 800;
	
	color: #fff;
	background-color: #4b5456;
}

.navbar-inverse .navbar-brand {
	font-size: 30px;
	font-weight: 800;
	
	color: #fff;
}

.logo-begin {
	color: rgb(50, 200, 100);
}

.navbar-inverse .navbar-nav>li>a {
	padding-left: 0;
	padding-right: 40px;

	font-size: 16px;
	font-weight: 800;

	color: #fff;
}
.navbar-inverse .navbar-nav>li:last-child>a {
	padding-right: 0;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: rgb(50, 200, 100);
}


/*-------------------ABOUT------------------*/

.about {
	padding-top: 100px;
}

.about__img {
	padding: 0;
}

.about__main {
	padding-top: 50px;
	padding-left: 70px;
	padding-right: 150px;
	padding-bottom: 9px;

	background-color: #f2f2f1;
}

.about__main .title {
	padding-bottom: 25px;
}

.about__main .col-md-6 {
	position: relative;
	padding-left: 90px;
}
.ico {
	position: absolute;
	top: 20px;
	left: 15px;

}
.ico:before {
	font-size: 45px;
	color: rgb(50, 200, 100);
}


/*------------------SKILLS------------------------*/

.skills {
	padding-top: 100px;
}

.skills__item {
	padding-top: 30px;
}

.skills__info p {
	padding-bottom: 20px;
}

.progress {
	margin-bottom: 40px;

	box-shadow: none;
	background-color: #f2f2f1;
	border-radius: 0px; height: 20px;
}
.progress-bar {
	padding-right: 10px;

	text-align: right;

	background-color: #2ecc71;
}
.skills__btn {
	margin-top: 10px;

	padding: 10px 30px;
}
.progress__item {
	padding-bottom: 10px;
}




/*------------------RESUME---------------------*/

.resume {
	position: relative;
	margin-top: 70px;
	padding-top: 70px;
	padding-bottom: 70px;

	background-color: #f2f2f1;
}
.resume::after {
	position: absolute;
	content: "";
	display: block;
	
	top: 100%;
	left: 50%;
	margin-left: -30px;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 30px 0 30px;
	border-color: #f2f2f1 transparent transparent transparent;
}

.resume__description {
	padding-bottom: 30px;
}



/*------------------------EDUCATION-----------------*/

.education {
	padding-top: 100px;
}

.education__items {
	padding-top: 70px;
}

.grade-btn {
	max-width: 70px;
	width: 70px;
	margin-bottom: 30px;

	font-size: 14px;
	line-height: 30px;
	text-align: center;
	
	color: #fff;
	background-color: rgb(50, 200, 100);
}
.line {
	border-color: #cccccc;
}
.education__item {
	padding-bottom: 30px;
}


/*--------------------------WORK-----------------------*/

.work {
	padding-top: 70px;
}

.work__items {
	padding-top: 70px;
}



/*------------------------QUOTE--------------------------*/


.quote {
	padding-top: 70px;
	padding-bottom: 70px;
	margin-top: 70px;

	background-color: #f2f2f1;
}
.quote__text {
	padding-bottom: 10px;

	font-size: 24px;
	line-height: 36px;
	font-style: italic;

	color: #919191;
}
.quote-title {
	padding-bottom: 30px;

	font-size: 18px;
}
.slider__block {
	text-align: center;
	display: inline-block;
}

.slider__btn {
	display: block;
	float: left;
	margin-right: 10px;
	width: 8px;
	height: 8px;

	border-radius: 50%;
	border: 2px solid rgb(50, 200, 100);
}
.active-btn {
	background-color: rgb(50, 200, 100);
}








/*----------------PORTFOLIO------------------*/


.portfolio {
	padding-top: 80px;
}

.portfolio__descrition {
	padding-bottom: 60px;
}

.portfolio__item {
	position: relative;
	padding-bottom: 35px;
}
.portfolio__item:hover .img__wrapper {
	display: block;
}
.img__wrapper {
	display: none;
	position: absolute;
	width: 100%;
	height: 89.5%;
	top: 0;

	cursor: pointer;

	background: rgba(50, 200, 100, .7) url("../img/search.png") no-repeat center;
}


.item__one {
	position: relative;
}
.img__text_1 {
	position: absolute;

	top: 10%;
	left: 10%;

	line-height: 30px;
}
.img__text_2 {
	position: absolute;
	position: absolute;

	top: 25%;
	left: 10%;

	line-height: 30px;

	color: #838484;
}
.img__text_1 b,
.img__text_2 span  {
	color: #fff;
}


/*-----------------CONTACT--------------*/

.contact {
	margin-top: 50px;
	padding-top: 80px;
	padding-bottom: 100px;

	background-color: #252e30;	
}

.contact__title {
	color: #fff;	
}

.contact span {
	padding-right: 2.5em;

	color: #f2f2f1;
}
.form-group label {
	padding-bottom: 10px;

	font-weight: normal;

	color: #fff;
}
.form-control {
	margin-bottom: 40px;

	color: #fff;

	border-radius: 0;
	border: none;
	background-color: #4b5456;
}

.form__btn {
	padding: 15px 30px;

	color: #fff;
	background-color: #191f21;
	border: none;
}
.form__btn:hover {
	color: #fff;
	background-color: rgba(50, 200, 50, 0.5);
}


/*------------------FOOTER-----------------*/

.footer {
	padding-top: 40px;
	padding-bottom: 40px;

	background-color: #191f21;
}
.footer .description {
	margin: 0;
	padding-bottom: 10px;
	
	font-size: 14px;
	line-height: 30px;
	font-weight: 800;
	text-transform: uppercase;

	color: #4b5456;
}

.footer__social {
	display: inline-block;
}

.social__ico {
	float: left;
	margin-right: 10px;
	width: 40px;
	height: 40px;

	cursor: pointer;

	border-radius: 50%;
	background-color: #4b5456;
}

.social__ico i {
	padding-top: 10px;

	font-size: 20px;

	color: #191f21;
}
.social__ico:hover i {
	color: #fff;
}