/*--------------------------------------------------------

#fffcf4 - белый цвет текста
#1dde85 - зелёный основной цвет
#454546 - серый цвет для текста
#969598 - серый свет для тега p 
#0b0a0a - черный цвет большого футера
#000000 - черный цвет малого футера


font-family: 'Exo', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;

-----------------------------------------------------------*/
/*h2/menu/btn/input/service/image/*/

body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.center {
	width: 1170px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.title-h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 36px;

	color: #454546;
}

.title-span {
	color: #1dde85;
}

.btn {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 36px;
	
	cursor: pointer;

	color: #fff;
	background-color: #1dde85;
	border: none;
}


.btn:hover {
	opacity: 0.8;
	color: #000;
}
/*-----------HEADER-----------------------*/

.main-header {
	padding-top: 35px;
	padding-bottom: 270px;
	background: url("../img/header.png") no-repeat;
	background-size: cover;
}

.header-logo {
	float: left;
	padding-left: 30px;
}
.logo {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;

	font-size: 40px;
	line-height: 36px;
	font-weight: 400;

	color: #fffcf4;
}
.logo-link {
	text-decoration: none;

	color: #fffcf4;
}
.logo>a>span {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
}

.header-top {
	padding-bottom: 20px;
}

/*------------MENU-------------------------*/

.nav-menu {
	float: right;
	padding: 0;
	margin: 0;
	padding-right: 95px;

	list-style: none;
}
.menu-item {
	float: left;
	padding-right: 40px;
}
.menu-link {
	padding: 0;
	margin: 0;

	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 36px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;

	color: #fffcf4;
}

.link-selected {
	cursor: default;
}
.link-selected,
.menu-link:hover {
	color: #1dde85;
}
.link-selected::after,
.menu-link:hover {
	content: "";
	display: block;
	width: 100%;
	
	border-bottom: 1px solid #1dde85
}
.link-selected:hover::after {
	border-bottom: none;
}

/*-------------HEADER-LINE-----------------*/

.header-line {

	border: 1px solid #494849;
}

/*--------------Header-Bottom----------------*/

.header-title,
.header-description {
	margin: 0;
	padding: 0;
}

.header-bottom {
	padding-top: 210px;

	color: #fffcf4;
}

.header-title {
	padding-bottom: 45px;


	font-family: 'Exo', sans-serif;
	font-size: 48px;
	line-height: 36px;
	font-weight: 400;
}
.header-title>span {
	font-weight: 900;
}
.header-description {
	padding-left: 170px;
	padding-right: 170px;

	font-size: 18px;
	line-height: 36px;
	font-weight: 300;
}


/*-----------SERVICE--------------*/

.main-service {
	padding-top: 80px;

	color: #454546;
}

.service-title {
	margin-bottom: 50px;
}

.service-description {
	padding: 0 120px;
	padding-bottom: 80px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 100;

	color: #8f8e91;
}

.service-box {
	float: left;
	margin-right: 50px;
	margin-bottom: 50px;
	padding-top: 70px;
	max-width: 350px;

	border: 2px solid #cbc9c6;
}
.service-box:hover {
	border: 2px solid #1dde85;
}
.service-box:hover .box-title {
	color: #1dde85;
}
.service-box:hover .box-description {
	font-weight: 300;
	color: #454546;
}
.service-box:nth-child(3n) {
	margin-right: 0;
}
.box-title {
	padding: 0;
	margin: 0;
	padding-bottom: 20px;

	font-size: 24px;
	line-height: 45px;
}
.box-description {
	padding: 0 5px;

	font-size: 14px;
	line-height: 30px;
	font-weight: 100;

	color: #8f8e91;
}
.service-box1 {
	background: url("../img/icons-service.png") no-repeat;
	background-position: -32% -40%;
}
.service-box2 {
	border: 2px solid #1dde85;
	background: url("../img/icons-service.png") no-repeat;
	background-position: 50% -40%;
}
.service-box2 .box-title{
	color: #1dde85;
}
.service-box2 .box-description {
	font-weight: 300;
	color: #454546;
}
.service-box3 {
	background: url("../img/icons-service.png") no-repeat;
	background-position: 132% -40%;
}
.service-box4 {
	background: url("../img/icons-service.png") no-repeat;
	background-position: 160px -265px;
}
.service-box5 {
	background: url("../img/icons-service.png") no-repeat;
	background-position: 50% -265px;
}
.service-box6 {
	background: url("../img/icons-service.png") no-repeat;
	background-position: 133% -265px;
}


/*-----------TEAM---------------------*/

.main-team {
	padding-top: 90px;
	margin-bottom: 145px;
}
.team-title {
	padding-bottom: 55px;
}
.team-employe {
	float: left;
	padding-top: 290px;
	margin-right: 30px;

	vertical-align: bottom;

	color: #fffcf4;
}
.team-employe1 {
	background: url("../img/work-1.png") no-repeat;
}
.team-employe2 {
	background: url("../img/work-2.png") no-repeat;
}
.team-employe3 {
	background: url("../img/work-3.png") no-repeat;
}
.team-employe4 {
	background: url("../img/work-4.png") no-repeat;
}

.team-employe:last-child {
	margin-right: 0;
}
.employe {
	padding: 5px 80px;

	text-align: center;

	background-color: rgba(50,50,50, 0.9);
}
.employe-title {
	padding: 0;
	margin: 0;

	font-size: 18px;
	line-height: 32px;
	font-weight: 400;
}
.employe-description {
	padding: 0;
	margin: 0;

	font-size: 14px;
	font-weight: 100;
}


/*----------WORKS----------------*/


.works-title {
	padding-bottom: 45px;
}

.works-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
.works-menu-item {
	display: inline-block;
	padding-right: 40px;
	margin-bottom: 45px;
}
.works-menu-link {
	padding: 0;
	margin: 0;

	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 36px;
	font-weight: 300;
	text-decoration: none;

	color: #454546;
}
.works-menu-link:hover {
	color: #1dde85;
}
.works-menu-link:hover::after {
	content: "";
	display: block;
	margin-bottom: -1px;
	width: 100%;
	
	border-bottom: 1px solid #1dde85
}

.works-image {
	padding-bottom: 50px;
}
.works-btn {
	padding: 5px 50px;
}

/*------------PRICING--------------*/





.pricing {
	padding-top: 110px;
	padding-left: 35px;
	padding-bottom: 130px;
	color: #454546;
}

.pricing-title {
	padding-bottom: 60px;
}



.pricing-price-block {
	float: left;
	margin-right: 17px;

}
.pricing-price-block:last-child {
	float: left;
	margin-right: 0;
}

.price-block-hover:hover {
	color: #fffcf4;
	border: 1px solid #1dde85; 
}
.price-block-hover:hover .price-block-description {
	padding-top: 1px;
}
.price-block-hover:hover .price-block-value {
	background: #1dde85;
	border: none;
}
.price-block-value {
	padding: 15px 0;
	width: 268px;
	border: 1px solid #a7a6a2;
}
.price-block-description {
	margin-top: 30px;
}
.value {
	margin: 0;
	padding: 0;

	font-size: 36px;
	line-height: 36px;
	font-family: 'Roboto Slab', serif;
}
.value>span {
	font-size: 18px;
}

.value>sup {
	font-size: 24px;
}
.price-block-title {
	padding: 0;
	margin: 0;	
	padding-bottom: 5px;

	font-size: 14px;
	line-height: 36px;
	font-weight: 100;

	color: #8f8e91;
}
.title-top {
	padding-bottom: 25px;
}
.price-block-btn {
	margin-top: 50px;
	padding: 5px 20px;
	margin-bottom: 20px;

	font-size: 14px;
	font-weight: 100;
}



/*-------------FORM-------------------*/

.message {
	padding-top: 40px;
	padding-bottom: 40px;

	background: url("../img/form.png") no-repeat;
}

.message-title {
	padding-bottom: 30px;

	color: #fffcf4
}

.form-input-simple {
	padding: 15px;
	margin-right: 20px;

	background: none;
	color:#f1eee7;
	border: 1px solid #bdbcbc;
}
::-webkit-input-placeholder {color:#f1eee7; padding: 0;
margin: 0; font-size: 14px;}

.form-input {
	width: 438px;
}
.form-textarea {
	margin-top: 28px;
	margin-bottom: 30px;

	resize: none;
}
.form-btn {
	padding: 5px 35px;

	font-size: 18px;
	font-weight: 100;
}



/*-------------FOOTER------------------*/

.footer {
	padding-top: 30px;
	padding-bottom: 60px;
	text-align: left;

	color: #fff;
	background-color: #0b0a0a;
}



.footer-block {
	float: left;
	max-width: 330px;
	padding-right: 200px;
}
.footer-block:last-child {
	padding-right: 0;
}
.footer-title {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 10px;
	font-weight: 400;
}
.footer-text {

	font-family: 'Roboto Thin', sans-serif;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	font-weight: 200;

	color: #868588;
}

.footer-links-left {
	float: left;
	max-width: 80px;
}
.footer-links-right {
	float: right;
	max-width: 100px;
}

.footer-social {
	float: right;
}
.find-social {
	float: left;
	margin-right: 7px;
	width: 38px;
	height: 38px;

	border: 2px solid #8f8e91;
}
.social-fb {
	background: url("../img/fb-footer.png") no-repeat center;
}
.social-tw {
	background: url("../img/tw-footer.png") no-repeat center;
}
.social-gg {
	background: url("../img/gg-footer.png") no-repeat center;
}
.social-ln {
	background: url("../img/ln-footer.png") no-repeat center;
}

.subscribe-email {
	padding: 12px 10px;
	margin-bottom: 15px;
	width: 100%;
}

.bottom-footer {
	padding: 20px;
	background-color: #000000;
}
.bottom-footer-description {
	padding: 0;
	margin: 0;
}