body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
}

.p0 {
	padding: 0;
}

/*BUTTONS*/
.my-btn{
	text-transform: uppercase;
	
	color: #fff;
	background-color: #e84545;
	border: none;
}
.btn-md {
	padding: 10px 30px;
}
.btn-lg {
	padding: 10px 100px;
}


/* HEADER */
header {
	height: 680px;
	background-image: url("../img/banner.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}

nav {
	height: 94px;
	line-height: 94px;
}
.menu {
	margin: 0;
	padding: 0;

	list-style-type: none;
}
.menu li {
	display: inline-block;
	padding: 0 30px;
}
.menu li a {
	color: #fff;
	font-family: 'RalewayBold' ,sans-serif;
	text-transform: uppercase;
}
.menu li a:hover,
.menu li a:focus {
	text-decoration: none;

	color: #e1e1e1;
}

.top-line {
	height: 1px;
	background-color: #e1e1e1;
}

.logo {
	padding-top: 35px;
}


.title-block{
	margin-top: 100px;
}

.title-block{
	text-align: center;

	color: #fff;
}
.title-block h1 {
	margin-bottom: 30px;

	font-size: 50px;
	font-family: 'RalewayBold', sans-serif;

	color: #fff;
}
.title-block p {
	margin-bottom: 50px;

	font-size: 16px;
}


/*PARAMETERS SECTION*/

.params {
	padding: 95px 0;
}

.param-block {
	margin-bottom: 50px;

	text-align: center;
}
.param-block i {
	font-size: 70px;

	color: #e84545;
}
.param-block h3 {
	font-size: 18px;
	font-family: 'RalewayBold', sans-serif;
	text-transform: uppercase;
}
.param-block p {
	font-size: 14px;
}

/*WORKS SECTION*/

.work-block {
	position: relative;
} 
.image-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	opacity: 0;
	background-color: rgba(232,69,69,0.7);
}
.image-block:hover .image-wrap{
	opacity: 1;	
}
.work-descr {
	margin: auto;

	text-align: center;

	color: #fff;	
}

/*TEAM*/

.team {
	padding: 95px 0;

	color: #6c7279;
}
.team-item h4 {
	font-family: 'RalewayBold', sans-serif;

	color: #000;
}
.team-item>span {
	font-size: 14px;
	text-transform: uppercase;

	color: #e84545;
}
.team-item p {
	padding: 10px 0;
}
.social-btn {
	width: 35px;
	height: 35px;

	color: #c6cacc;
	background-color: transparent;
	border: 1px solid #c6cacc;
}
.white-btn {
	color: #fff;
	border-color: #fff;
}

/*DOWNLOAD*/

.download {
	padding: 90px 0;
}
.download-block {
	text-align: center;
}
.download-block h5 {
	font-size: 24px;
}
.download-block p {
	font-family: 'RalewayBold', sans-serif;
	text-transform: uppercase;
}


/*FOOTER*/

.main-footer {
	padding: 70px 0;

	background-color: #3a3e64;
}
.footer-item {
	margin-bottom: 20px;

	text-align: center;
}
.footer-item h5 {
	font-family: 'RalewayBold', sans-serif;
	text-transform: uppercase;

	color: #fff;
}
.footer-item p {
	font-size: 14px;

	color: #9d9fb2;
}


.copyright {
	padding: 30px 0;

	text-align: center;

	background-color: #313454;
}
.copyright .row {
	margin-right: 0;
}
.copy-text {
	color: #9d9fb2;
}