/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.team-item {
		margin-bottom: 30px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	nav {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;	
		height: 60px;

		line-height: 60px;
		
		z-index: 10;
		background-color: #2a2e48;

	}
	.team {
		padding: 60px 0 40px 0;
	}

.team-item {
	margin-bottom: 30px;
}
	.top-line {
		display: none;
	}
	.logo {
		padding-top: 15px;
	}
	.menu-btn {
		height: 30px;
		width: 30px;

	color: #fff;
		border-radius: 50px;
		background-color: #e84545;
	}
	.menu-btn span {
		top: -25px;
		left: -2px;
	}
	.menu li {
		display: block;

		text-align: center;
	}
	.menu li a {
		display: block;
	}
	.menu li a:hover {
		color: #000;
		background-color: #fff;
	}
	#top-menu {
		padding: 20px 0;

		background-color: #2a2e48;
	}
	.title-block{
		margin-top: 130px;
	}
	.div_ex{
		width: 200px;
		height: 200px;
	}
	.main-footer {
		padding: 20px 0 30px 0;
	}
	.download {
		padding: 20px 0 50px 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	nav {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;	
		height: 60px;

		
		z-index: 10;
		background-color: #2a2e48;

	}
	header {
		height: 450px;
	}
	.team {
		padding: 60px 0 40px 0;
	}

.team-item {
	margin-bottom: 30px;
}
	.top-line {
		display: none;
	}
	.logo {
padding-to
		p: 15px;
	}
	.menu-btn {
		height: 30px;
		width: 30px;

	color: #fff;
		border-radius: 50px;
		background-color: #e84545;
	}
	.menu-btn span {
		top: -25px;
		left: -2px;
	}
	.menu li {
		display: block;

		text-align: center;
	}
	.menu li a {
		display: block;
	}
	.menu li a:hover {
		color: #000;
		background-color: #fff;
	}
	#top-menu {
		padding: 20px 0;

		background-color: #2a2e48;
	}
	.title-block{
		margin-top: 130px;
	}
	.title-block h1 {
		font-size: 30px;
	}
	.title-block p {
		font-size: 14px;
}
.download {
	padding: 20px 0 50px 0;
}
	.div_ex{
		width: 100px;
		height: 100px;
		background-color: #0000ff;
		margin: 0;
	}
	.main-footer {
		padding: 20px 0 30px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	nav {
		position: fixed	left: 0;
		top: 0;
		width: 100%;	
		height: 60px;

		
		z-index: 10;
		background-color: #2a2e48;

	}
	header {
		height: 450px;
	}
	.team {
		padding: 60px 0 40px 0;
	}

.team-item {
	margin-bottom: 30px;
}
	.top-line {
		display: none;
	}
	.logo {
padding-to
		p: 15px;
	}
	.menu-btn {
		height: 30px;
		width: 30px;

	color: #fff;
		border-radius: 50px;
		background-color: #e84545;
	}
	.menu-btn span {
		top: -25px;
		left: -2px;
	}
	.menu li {
		display: block;

		text-align: center;
	}
	.menu li a {
		display: block;
	}
	.menu li a:hover {
		color: #000;
		background-color: #fff;
	}
	#top-menu {
		padding: 20px 0;

		background-color: #2a2e48;
	}
	.title-block{
		margin-top: 130px;
	}
	.title-block h1 {
		font-size: 30px;
	}
	.title-block p {
		font-size: 14px;
}
.download {
	padding: 20px 0 50px 0;
}
	.div_ex{
		width: 100px;
		height: 100px;
		background-color: #0000ff;
		margin: 0;
	}
	.main-footer {
		padding: 20px 0 30px 0;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}