/*-------------------------Banner------------------------------*/

.banner {
	padding-top: 50px;
	padding-bottom: 20%;

	text-align: center;

	background:transparent url('../img/banner.png') center no-repeat;
	background-size: cover;
	
	.title {
		padding-bottom: 10px;
	}
	.title--sm {
		padding-bottom: 70px;
	}
}