/*-------------------------Terms------------------------------*/
.terms {
		padding-bottom: 110px;

	.center {
		padding-top: 95px;
		padding-bottom: 75px;

		justify-content: space-between;
	}

	.wrapper {
		text-align: center;
	}
}


.terms__block {
	width: 28%;
	
	.terms__head {
		padding: 20px 0;
		margin-bottom: 6px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background: $yellow;

		.title--sm {
			font-size: 36px;
			text-transform: uppercase;
		}
	}
}

.terms__main {
	height: 65%;
	padding: 30px 35px;
	
	text-align: center;
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: $pink;
}