* {
	padding: 0;
	margin: 0;
}

body {
	color: #666;
}

.center {
	max-width: 990px;
	margin: 0 auto;

}


.header {
	overflow: hidden;

	background-color: #292929;
	border-bottom: 3px solid black;
}

.header-logo {
	float: left;
	padding-top: 40px;
}

.header-menu {
	float: right;

	list-style: none;
}
.header-menu li {
	float: left;

	font-weight: 600;
}
.header-menu li a {
	display: block;
	padding: 50px 35px;

	text-decoration: none;

	color: #fff;
	border-left: 1px solid black;
}
.header-menu li:last-child a {
	border-right: 1px solid black;
}
.header-menu li a:hover {
	padding-bottom: 47px;
	color: #58c93a;
	border-bottom: 3px solid #58c93a;
}



.content-left {
	float: left;
	width: 62.5%;
}

.content-right {
	float: right;
	width: 28.3%;
}

article {
	margin-bottom: 70px;
}
.header-img {
	width: 100%;
}
.content-header {
	padding-bottom: 10px;
	font-size: 0;
}
.content-title {
	margin-left: 20px;
	margin-bottom: 30px;

	font-size: 1.75em;
	font-weight: bold;
	line-height: 1.1;
	text-transform: uppercase;

	color: #444;
}
.content-description {
	margin-bottom: 30px;
	margin-left: 20px;

	line-height: 1.3;
}

.btn {
	display: inline-block;
	padding: 7px 20px;
	margin-left: 20px;

	text-decoration: none;
	transition: all 0.2s linear;

	color: #888;

	border: 2px solid #c2c2c2;
	border-radius: 20px;
}

.btn:hover {
	text-decoration: none;

	color: #58c93a;
	border-color: #58c93a;
}


.input {
	box-sizing: border-box;
	padding: 15px 20px;
	width: 100%;

	font-size: 0.75em;

	border: 1px solid #e1e0e0;
	border-right: none;
	color: #b9b9b9;
}

.widget {
	margin-bottom: 50px;
}
.widget h2 {
	padding: 10px 20px;
	margin-bottom: 20px;

	font-size: 1.25em;
	text-transform: uppercase;

	color: #6c6969;
	background-color: #f8f8f8;
	border-left: 3px solid #58c93a;
}

.widget nav ul {
	padding-left: 20px;
	list-style: none;
}

.widget nav ul li a {
	color: #58c93a;
}
.subscribe-block {
	position: relative;

	width: 100%;
}
.subscribe {
	padding-right: 50px;
}
.subscribe-img {
	position: absolute;
	top: 10px;
	right: 10px;
}
.widget img {
	width: 100%;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}


.pager {
	padding: 30px 10px;

	overflow: hidden;

	font-size: 1.25em;
	font-weight: 600;

	border-top: 1px solid #e1e0e0;
}
.pager a {
	text-transform: uppercase;
	text-decoration: none;

	color: #6c6969;
}
.pager a:hover {
	color: #58c93a;
}
.pager-left {
	float: left;
}
.pager-right {
	float: right;
}


.footer {
	padding: 50px;

	text-align: center;

	border-top: 1px solid #e1e0e0;
	background-color: #f8f8f8;
}
.footer img {
	padding-bottom: 20px;
}
.center-main {
	padding-top: 70px;

	border-left: 1px solid #e1e0e0;
	border-right: 1px solid #e1e0e0;
}


@media screen and (max-width: 768px) {

.header-menu li a:hover {
	padding-bottom: 17px;
}
	.header-logo {
		padding-top: 10px;
	}
	.header-menu li a {
		padding: 20px;
	}
	.content-left {
		float: none;
		width: 100%;
	}
	.header-img {
		width: 100%;
	}
	.content-right {
		float: none;
		width: 100%;
	}
	.widget img {
		width: auto;
	}
}

@media screen and (max-width: 620px) {
	.header {
		text-align: center;
	}
	.header-logo {
		float: none;
	}
	.header-logo img {
		padding-top: 10px;
	}
	.header nav {
		display: table;
		margin: 0 auto;
	}
	.header-menu {
		float: none;
	}
	.header-menu li a {
		padding: 10px 20px;
	}
	.header-menu li:first-child a{
		border-left: none;
	}
	.header-menu li:last-child a {
		border-right: none;
	}
	.header-menu li a:hover {
		padding-bottom: 7px;
	}
	.center-main {
		padding-top: 10px;
	}
}