//--------------------------Футер-------------------------------
.footer {
	margin-top: -190px;
	padding: 20px 55px;
	padding-bottom: 70px;
	display: flex;
	justify-content: space-around;

	background: #000;
	color: #fff;

// Копирайт
	&__copyright {
		width: 40%;
		padding-left: 120px;
		padding-bottom: 100px;

		align-self: flex-end;

		text-align: left;

		color: $grey;
	}

// Ссылки и подписка
	&__right {
		padding-top: 30px;
		width: 30%;

		text-align: left;

	// Ссылки
		&__links {
			padding-bottom: 125px;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		// Ссылка
			&__item {
				width: 50%;
				padding-bottom: 10px;

				color: #fff;

				&:hover {
					color: $blue;
				}
			}
		// *Ссылка
		}		
	// *Ссылки
	}
// *Ссылки и подписка

// Подписка
	&__subscribe {
		width: 70%;

	// Заголовок
		.title--sm {
			font-size: 16px;

			color: #fff;
		}
	// Форма
		form {
			position: relative;
		}
	// Поле ввода
		&__input {
			padding: 8px 30px;

			outline: none;

			color: #fff;
			border: none;
			border-bottom: 1px solid $grey;
			background: none;
			background: url("../img/social-3.png") no-repeat left center;
		}
	// Кнопка
		&__btn {
			position: absolute;
			padding: 3px;
			top: 5px;
			right: 35px;

			border: none;
			border-radius: 50%;
			color: #fff;
			background: $blue;
		}
	// *Кнопка
	}
// *Подписка
}
//**************************Футер***********************************