body {
	background-color: #f2f2f2;	
}

.mb30 {
	margin: 0;
	padding: 0;
}

.bl1, .bl2 {
	height: 100vh;	
}
.img1 {
	height: 100%;	
	background: url("../img/1.png") no-repeat;
	background-size: cover;
}
.img2 {
	height: 100%;
	background: url("../img/2.png") no-repeat;
	background-size: contain;
}

.bl3 {
	display: block;
	height: 100vh;
	background: url("../img/3.png") no-repeat center;
	background-size: cover;
}
.bl4 {
	display: block;
	height: 100vh;
	background: url("../img/4.png") no-repeat center;
	background-size: cover;
}