/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

 */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;

	color: #7e7f84;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.center {
	max-width: 1170px;
	margin: 0 auto;
}

/*-----HEADER------------*/

/*_____HEADER-TOP________*/


.header-top {
	padding: 30px 0;

	border-bottom: 1px solid #eee;
}

.header-logo {
	float: left;
}
.logo {
	font-size: 1.4em;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;

	color: #7e7f84;
}
.logo:hover {
	color: #f45a03;
}
.header-info {
	float: right;

}
.header-info img {
	margin-right: 3px;

	vertical-align: middle;
}
.info-phone,
.info-basket {
	float: left;

	font-size: 0.75em;
	font-weight: 600;
}
.info-basket {
	margin-left: 20px;
	padding: 7px 25px;

	border: 1px solid #eee;
}
.basket-link {
	padding-left: 20px;

	text-decoration: none;

	color: #7e7f84;
}
.basket-link:hover {
	color: #f45a03;
}
.info-phone {
	padding-top: 8px;
}


/*------HEADER-BOTTOM-------*/

.header-bot {
	padding: 10px 0px;
}

.header-menu {
	float: left;

	list-style: none;
}
.header-menu li {
	float: left;
	padding-right: 40px;

	text-transform: uppercase;
}
.header-menu li a {
	font-family: 'Roboto', sans-serif;
	font-size: 0.875em;
	text-decoration: none;

	color: #7e7f84;
}
.header-menu li a:hover {
	color: #f45a03;
}

.header-search,
.search,
.search-ico {
	padding-top: 1px;
	float: left;
}
.search {

	font-size: 0.875em;

	outline: none;
	border: none;
	color: #7e7f84;
}
.search-ico {
	padding-right: 3px;
}


/*----------SLIDER-----------*/


.slider {
	margin-top: 20px;
}

.slider ul li {
	position: relative;

	color: #f45a03;
}
.slider ul li .slider-title {
	
	font-weight: bold;
}
.slider-title {
	position: absolute;
	top: 220px;
	left: 30px;

	font-size: 3.687em;
}
.slider-description {
	position: absolute;
	top: 370px;
	left: 30px;

	font-size: 0.875em;
}
.unslider-nav {
	position: relative;
	top: -40px;
}



/*--------NEWS----------*/

.news-block {
	padding-top: 20px;
	padding-bottom: 50px;
}
.news-block article {
	float: left;
	width: 31.6%;
	margin-left: 2.6%;
}
.news-block article:first-child {
	margin-left: 0;
}
.news-block img {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.news-block article h2 {
	margin-bottom: 20px;

	font-size: 1.375em;
	font-family: 'Roboto Condensed', sans-serif;
}
.news-block article h2 a {
	color: #f45a03;
}
.news-block article p {
	font-size: 0.875em;
}





/*----------POPULAR-----------*/

.popular {
	margin-bottom: 30px;
}
.popular-title {
	text-align: center;
	padding-bottom: 30px;
}
.popular-item { /*article*/
	width: 23%;
	float: left;
	margin-right: 2.66%;
}
.popular-item:last-child {
	margin-right: 0;
}

.popular-item>img {
	display: block;
	width: 100%;
	margin: 0 auto;
}
.item-content { /*popular-main-content*/
	padding: 20px;

	border: 1px solid #eee;
	border-top: none;
}
.item-title {
	margin-bottom: 5px;

	font-size: 1.1em;
}
.item-content h3 {
	margin-bottom: 5px;

	font-size: 1em;
	font-weight: 400;
	font-style: italic;
}
.item-description {
	margin-bottom: 10px;

	font-size: 0.8em;
}
.item-price {
	padding: 15px 0;

	font-size: 0.875em;

	color: #f45a03;
	border-top: 1px solid #eee;
}
.price-value {
	float: left;
}
.price-btn {
	float: right;
}