* {
	margin: 0;
	padding: 0;
	text-transform: none;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Montserrat', sans-serif;
}


/*						Header 						*/
.header {
	padding: 40px;

	background: #373c3f;
}
nav {
	padding-bottom: 20px;
}
.menu {
	height: auto;
	overflow: hidden;

	transition: height 0.5s linear;
}

.menu li {
	display: inline-block;
}

.menu li a {
	padding: 20px;

	text-transform: uppercase;

	color: #fff;
}

.menu li a:hover { 
	color: #078aa4;
}
.btn {
	position: relative;
	float: right;
	display: none;
	width: 30px;
	height: 40px;

	cursor: pointer;

	background: none;
	border: none;
}
.btn>span {
	position: absolute;
	display: block; 

	top: 10px;

	width: 30px;
	height: 2px;

	background: #fff;
}
.btn::after {
	position: absolute;
	content: "";
	display: block; 

	width: 30px;
	height: 2px;

	background: #fff;
}
.btn::before {
	position: absolute;
	content: "";
	display: block; 

	top: 0;

	width: 30px;
	height: 2px;

	background: #fff;
}



/*						Title 						*/

.title {
	padding: 160px 90px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19b4c6+0,0b9db4+40,078aa4+100 */
background: #19b4c6; /* Old browsers */
background: -moz-linear-gradient(-45deg, #19b4c6 0%, #0b9db4 40%, #078aa4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #19b4c6 0%,#0b9db4 40%,#078aa4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #19b4c6 0%,#0b9db4 40%,#078aa4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19b4c6', endColorstr='#078aa4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.title__description {
	position: relative;
	padding-bottom: 40px;

	font-size: 55px;

	color: #fff;
}
.title__description i {
	position: absolute;

	font-size: 28px;

	bottom: -30px;
}
.title__site {
	font-size: 32px;

	color: #fff;

	opacity: 0.6;
}

/* 									Likes  								*/


.like__hood {
	padding: 110px 90px;
	padding-right: 0;
	float: left;
	width: 80%;

	font-size: 28px;

	box-sizing: border-box;

	color: #9383a1;
	background: #27212c;
}
.like__btn {
	text-align: center;
	float: left;
	width: 20%;

	font-size: 28px;
	text-align: center;

	box-sizing: border-box;

	color: #fff;
	background: #bc3183;
}


.pictures__block {
	float: left;
	width: 33.3%;
}
.pictures__block img {
	display: block;
	width: 100%;
}
.block__btn {
	font-size: 28px;
	text-align: center;

	color: #fff;
	background: #5b0fa1;
}

/*							Info 								*/

.info {
	padding: 100px 90px;
	padding-top: 650px;
	background: #ebebeb;
}
.info::after {
	display: table;
	content: "";
	clear: both;
}

.info__title {
	margin-top: 50px;
	padding-bottom: 30px;

	font-size: 30px;

	color: #088ca5;
}
.info__description {
	float: left;
	width: 48%;

	font-size: 14px;

	color: #515151;
}

.info__description:last-child {
	float: right;
}






















.hide {
	display: block;
	height: 0;
}

@media screen and (max-width: 980px) {
		.like__hood {
			padding-right: 0;
			padding-left: 10px;
			float: left;
			width: 70%;
		}
		.like__btn {
			float: left;
			width: 30%;
		}
		.info {
			padding-top: 500px;
		}

}
@media screen and (max-width: 640px) {
	.header {
		padding: 20px;
	}
	.title__description {
		font-size: 32px;
	}
	.title__site {
		font-size: 22px;
	}

	.menu li {
		display: block;
		padding-bottom: 20px;
	}
	.menu li a {
		padding-right: 0;

		font-size: 12px;
	}
  .btn {
		display: block;
  }
  .info__description {
  	width: 100%;
  }
}