/*
	ЗЕЛЁНЫЙ					#04e4a2;
	КРАСНЫЙ					#ef5350;
	ЖЁЛТЫЙ					#ef5350;
	ТЕКСТ						#b6b6b6;
*/
body {
	padding: 0;
	margin: 0;

	font-family: 'Montserrat', sans-serif;
}

.header-top--color {
	background-color: #04e4a2;
	padding: 11px;
}

.main-center {
	width: 1200px;
	margin: 0 auto;
}

.main-header {
	padding: 30px;
	margin: 0;

	overflow: hidden;

	background-color: #ed524f;
}

.main-header__block {
	position: relative;
}
.main-header__logo {
	position: absolute;
	top: 0px;
	left: 150px;
	padding: 10px 35px;
	padding-bottom: 0;
	text-align: center;

	color: white;
	background-color: #ef5350;
	box-shadow: 0px 3px 1px 1px #d64a48;
}
.main-header__logo h2 {
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.main-header-contact {
	float: right;

	text-decoration: none;

	color: white;

	border-bottom: 3px solid #fdd835;
}

.btn {
	padding: 20px 25px;

	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

	cursor: pointer;

	color: white;
	border: none;
	border-radius: 7px;
}
.btn:hover {
	color: black;
}
.btn_contact {
	background-color: #ffb74d;
}
.content {
	padding: 100px;
}
.main-content__company {
	color: white;
	background-color: #ef5350;
}
.main-content__company h2 {
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.main-content__company p {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}
.content__center {
	margin-top: 265px;
	margin-left: 600px;
	margin-right: 100px;
	margin-bottom: 130px;
}
.main-content__form {
	margin-top: 0px;
	margin-left: 630px;
	margin-right: 100px;
	margin-bottom: 0px;

	overflow: hidden;
}
.main-content__form p {
	margin-left: 30px;

	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;

	color: #ff8a80;
}
.main-content__form input,
.main-content__form select,
.main-content__form textarea {
	padding: 15px 20px;
	margin-right: 21px;
	margin-bottom: 17px;

	outline: none;


	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;

	color: #636363;

	border: 2px solid #e3f2fd;
}

.main-content__form textarea {
	min-width: 437px;
	min-height: 68px; 

	resize: none;
}
.main-content__form select {
	min-width: 228px;
}
.btn__send {
	float: right;
	margin-right: 137px;
	padding: 16px 34px;

	background-color: #04e4a2;
}
.main-content__phone {
	position: absolute;
	top: 62px;
	left: -80px;
}

.main-footer {
	margin-top: 45px;
	padding-left: 100px;
	padding-bottom: 70px;

	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;

	color: #636363;
}
.main-footer__left {
	float: left;
}
.main-footer__right {
	float: right;
	margin-right: 450px;

	vertical-align: middle;
}
.main-footer--ico {
	float: left;
	width: 35px;
	height: 35px;
	margin-right: 20px;

	border-radius: 20px;
	background: url("../img/mail.png") no-repeat center ;
}
.main-footer--contact {
	float: right;
	padding: 0;
	margin: 0;
	padding-top: 7px;
}