/*

#9dc5f0 - нижний бордер в меню
#949398 - цвет ссылок меню
#000000 - активная ссылка
#f5f5f5 - основной бодрер
#333333 - цвет текста
#b4b3b6 - цвет копирайта


#f5f5f5 - нижний предел градиента

 */

body {
	background-color: gradient-linear(90deg, #fff, #f5f5f5);
}


.header {
	text-align: center;
}
.center {
	width: 755px;
	margin: 0 auto;
}

nav ul {
	list-style: none;
}
.menu-links {
	float: left;
	padding: 8px 25px;
}