<!-- ADVANTAGE -->
<div class="advantage">
	<!-- Заголовок -->
	<h2 class="title">Advantage</h2>
	<!-- Обёртка блоков -->
	<div class="advantage__info center">
		
		<!-- 1-й блок -->
		<div class="info__block">
			<!-- Картинка -->
			<figure class="info__figure figure__social">
				<img src="img/advantage_social.png" alt="" class="info__img">
			</figure>
			<!-- Заголовок -->
			<h3 class="title--sm">Import photos 
from your social networks</h3>
			<!-- Описание -->
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta adipisci autem deleniti eligendi. Voluptas.</p>
		</div>

		<!-- 2-й блок -->
		<div class="info__block">
			<!-- Картинка -->
			<figure class="info__figure">
				<img src="img/advantage_cat.png" alt="" class="info__img">
			</figure>
			<!-- Заголовок -->
			<h3 class="title--sm">Photo editing </h3>
			<!-- Описание -->
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A et quibusdam ut eligendi. Blanditiis, voluptas.</p>
		</div>

		<!-- 3-й блок -->
		<div class="info__block">
			<!-- Картинка -->
			<figure class="info__figure">
				<img src="img/advantage_buliding.png" alt="" class="info__img">
			</figure>
			<!-- Заголовок -->
			<h3 class="title--sm">Templates</h3>
			<!-- Описание -->
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eveniet minima sapiente tempora quam sed?</p>
		</div>
	</div>
	<!-- Кнопка -->
	<button class="btn btn--red">Make your photobook</button>
</div><!-- Advantage -->