<!-- FOOTER -->
<footer class="footer">
	<div class="center">
		<div class="footer__links">
			<div class="footer__links__block">
				<hr class="line">
				<a href="#" class="description">About us</a>
				<a href="#" class="description">Career</a>
				<a href="#" class="description">Help</a>
				<a href="#" class="description">Press</a>
			</div>
			<div class="footer__links__block">
				<hr class="line">
				<a href="#" class="description">Terms</a>
				<a href="#" class="description">Payment</a>
				<a href="#" class="description">Shipping</a>
				<a href="#" class="description">Conact</a>
			</div>
			<div class="footer__links__block">
				<hr class="line">
				<a href="#" class="description">LightBook</a>
				<a href="#" class="description">ClassicBook</a>
				<a href="#" class="description">PremiumBook</a>
			</div>
		</div>
		<div class="footer__social__links">
			<div class="links__social">
				<hr class="line">
				<a href=""><img src="img/fb.png" alt=""></a>
				<a href=""><img src="img/vk.png" alt=""></a>
				<a href=""><img src="img/instagram.png" alt=""></a>
			</div>
			<div class="footer__design">
				<p class="design--text">Designed by</p>
				<img src="../img/footer_logo.png" alt="">
			</div>
		</div>
	</div>
	<p class="description">© 2015 Photobook. All rights reserved</p>
</footer>