<!-- HEADER -->
<header class="header">
	<!-- Обёртка -->
	<div class="header__wrapper">
		
		<!-- Левый блок -->
		<div class="header__block">
			<!-- Панель навигации -->
			<nav class="header__navigation">
				<!-- Кнопка меню -->
				<button class="menu__btn">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<!-- Меню -->
				<ul class="header__menu">
					<li class="menu__items"><a href="#" class="menu__link">item1</a></li>
					<li class="menu__items"><a href="#" class="menu__link">item2</a></li>
					<li class="menu__items"><a href="#" class="menu__link">item3</a></li>
					<li class="menu__items"><a href="#" class="menu__link">item4</a></li>
					<li class="menu__items"><a href="#" class="menu__link">item5</a></li>
				</ul>
			</nav>
			<!-- Логотип -->
			<a href="#" class="header__logo"><img src="img/logo.svg" alt=""></a>
		</div>

		<!-- Правый блок -->
		<div class="header__block">
			<!-- Номер -->
			<a href="#" class="header__number">+11 235 813 2134</a>
			<!-- Логин -->
			<a href="#" class="header__login"><img src="img/enter.svg" alt=""></a>
		</div><!-- header__block -->

	</div><!-- wrapper -->

</header><!-- header -->