<!-- SOLUTION -->
<div class="solution"><!-- solution -->
	<!-- Заголовок -->
	<h3 class="title">Ready solutions</h3>
	<!-- Обёртка -->
	<div class="solutuion__bloks center">

		<!-- 1-й блок -->
		<div class="solution__book">
			<!-- Верхняя часть -->
			<div class="book__top">
				<!-- Заголовок блока -->
				<h3 class="title-sm">LightBook</h3>
			</div><!-- book__top -->

			<!-- Центральная часть блока -->
			<div class="book__center">
				<!-- Список услуг -->
				<ul class="book__list">
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">15<i>x</i>10 cm</span></p>
					</li>
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">12 pages</span></p>
					</li>
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">binding on the clip</span></p>
					</li>
				</ul>
				<!-- Цена -->
				<p class="price">$ 129</p>
			</div><!-- book__center -->

			<!-- Низ блока -->
			<div class="book__bottom">
				<!-- Описание -->
				<p class="description">Make your LightBook</p>
			</div><!-- book__bottom -->

		</div><!-- solution__book -->


		<!-- 2-й блок -->
		<div class="solution__book">
			<!-- Бестселлер -->
			<div class="book__bestseller">
				<!-- Заголовок бестселлера -->
				<p class="bestseller--title">bestseller</p>
			</div>
			<!-- Верхняя часть -->
			<div class="book__top">
				<!-- Заголовок блока -->
				<h3 class="title-sm">ClassicBook</h3>
			</div><!-- book__top -->

			<!-- Центральная часть блока -->
			<div class="book__center">
				<!-- Список услуг -->
				<ul class="book__list">
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">30 <i>x</i>21 cm</span></p>
					</li>
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">36 pages</span></p>
					</li>
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">binding on the spring</span></p>
					</li>
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">fabric cover</span></p>
					</li>
				</ul>
				<!-- Цена -->
				<p class="price">$ 239</p>
			</div><!-- book__center -->

			<!-- Низ блока -->
			<div class="book__bottom">
				<!-- Описание -->
				<p class="description">Make your ClassicBook</p>
			</div><!-- book__bottom -->

		</div><!-- solution__book -->


			<!-- 3-й блок -->
		<div class="solution__book">
			<!-- Верхняя часть -->
			<div class="book__top">
				<!-- Заголовок блока -->
				<h3 class="title-sm">PremiumBook</h3>
			</div><!-- book__top -->

			<div class="book__center">
				<!-- Список услуг -->
				<ul class="book__list">
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">42<i>x</i>50 cm</span></p>
					</li>
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">50 pages</span></p>
					</li>
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">hadrcover</span></p>
					</li>
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">leather cover</span></p>
					</li>
					<li>
						<p class="book__center__description"><img src="img/check.png" alt="">free shipping</span></p>
					</li>
				</ul>
				<!-- Цена -->
				<p class="price">$ 759</p>
			</div><!-- book__center -->

			<!-- Низ блока -->
			<div class="book__bottom">
				<!-- Описание -->
				<p class="description">Make your PremiumBook</p>
			</div><!-- book__bottom -->
			
		</div><!-- solution__book -->

	</div>
</div>