<!-- STEPS -->
<div class="steps center">
	<!-- Шаг первый -->
	<div class="steps__step">
		<!-- Круг -->
		<div class="step__circle step--1"></div>
		<!-- Заголовок -->
		<p class="title--sm">Download photos</p>
	</div>

	<!-- Шаг второй -->
	<div class="steps__step">
		<!-- Круг -->
		<div class="step__circle step--2"></div>
		<!-- Заголовок -->
		<p class="title--sm">Design your
photobook</p>
	</div>

	<!-- Шаг третий -->
	<div class="steps__step">
		<!-- Круг -->
		<div class="step__circle step--3"></div>
		<!-- Заголовок -->
		<p class="title--sm">Design your
photobook</p>
	</div>

	<!-- Шаг четвёртый -->
	<div class="steps__step">
		<!-- Круг -->
		<div class="step__circle step--4"></div>
		<!-- Заголовок -->
		<p class="title--sm">Get your
photobook</p>
	</div>
</div>