<!-- TERMS -->
<div class="terms">
	<div class="center">
		<div class="terms__block">
			<div class="terms__head">
				<h3 class="title--sm">Terms</h3>
			</div>
			<div class="terms__main">
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quia facere voluptatum praesentium at placeat.</p>
			</div>
		</div>
		<div class="terms__block">
			<div class="terms__head">
				<h3 class="title--sm">Payment</h3>
			</div>
			<div class="terms__main">
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat placeat tempore, optio. Nisi nesciunt laboriosam earum cum aperiam, maxime reprehenderit voluptatum, officiis consequatur commodi totam dolor, facere quos. Eligendi dolor illum at, possimus sequi, omnis hic laborum ipsam, vero libero ex excepturi magnam. Saepe id quis ipsum nemo obcaecati, fuga.</p>
			</div>
		</div>
		<div class="terms__block">
			<div class="terms__head">
				<h3 class="title--sm">Shipping</h3>
			</div>
			<div class="terms__main">
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio doloremque, tempore dolorem ipsa, quia sequi.</p>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<button class="btn btn--red">make your photobook</button>
	</div>
</div>