<!-- TESTIMONIALS -->
<div class="testimonials">
	<!-- Центровщик -->
	<div class="center">
		<!-- Обёртка -->
		<div class="wrapper">
			<!-- Заголовок -->
			<h2 class="title">Testimonials</h2>
			<!-- Блок автора -->
			<div class="testimonials__author">
				<!-- Фото -->
				<img src="../img/testimonials_man.png" alt="">
				<!-- Обёртка текста -->
				<div class="wrapper__text">
					<!-- Имя и должность -->
					<h3 class="title--sm">
						<b>John Doe</b><br>Wedding photographer
					</h3>
				</div><!-- wrapper__text -->

			</div><!-- testimonials__author -->

			<!-- Статья -->
			<div class="testimonials__content">
				<!-- Текст статьи -->
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, facere! Inventore, ullam saepe dolorem, aspernatur dolore, autem consequatur, rerum commodi eligendi </p>
				<br>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, facere! Inventore, ullam saepe dolorem, aspernatur dolore, autem consequatur, rerum commodi eligendi </p>
				<!-- Блок ссылки на статью -->
				<div class="content__more">
					<!-- Ссылка -->
					<a href="#" class="title--sm">Next testimonials &rarr;</a>
				</div><!-- content__more -->

			</div><!-- testimonials__content -->

			<!-- Обёртка кнопки -->
			<div class="wrap">
				<!-- Кнопка -->
				<button class="btn">Make your photobook</button>
			</div><!-- wrap -->

		</div><!-- wrapper -->
		
	</div><!-- center -->

</div><!-- testimonials -->